#userDashboardWindow {
  background: url("./../assets/background-2.png") no-repeat;
  background-size: 800px 520px;
}

#fixed {
  background: #ECEFF1;
}

#vbox {

}

#hbox {
  
}

#dashboardLbl {
  font-weight: normal;
  font-size: 20px;
  color: white;
}

#projectLbl {
  font-weight: bold;
  font-size: 16px;
  color: #263238;
  padding-right: 450px;
}

#createProjectBtn {
  background: green;
  border-color: green;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 12px;
}

#projectBtn {
  background: white;
  border: 1px solid #B0BEC5;
  color: #263238;
  font-weight: normal;
  font-size: 14px;
  padding: 12px;
}
